/*Reset*/
body button, p{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body *{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
input{
    font-size: 15px;
    padding-left: 15px;
}
button:hover{
    cursor:pointer;
}
@media (min-width: 601px) {
    body{
        display: grid;
        background-color: #FCE6A8;
        grid-template-areas: 
        'nav titulo'
        'aside main'
        'asideFooter footer';
        gap: 5px;
        grid-template-rows: 15vh 67vh 15vh;
        grid-template-columns: 25vw 74vw;
    }
}
@media (max-width: 600px) {
    body{
        display: grid;
        background-color: #FCE6A8;
        grid-template-areas: 
        'titulo'
        'nav'
        'aside'
        'main'
        'asideFooter'
        'footer';
        gap: 5px;
        grid-template-rows: 10vh 10vh 30vh 55vh 0vh 10vh;
    }
}
body > *{
    background-color: #D2E4E1;
}
.nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
.nav a{
    text-decoration: none;
    color: white;
    background-color: #788896;
    padding: 1.5vh 1.5vw;
    font-size: 200%;
    border-radius: 15px;
}
.titulo{
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 350%;
}
@media (min-width: 601px) {
    .aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }
}
@media (max-width: 600px) {
    .aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3vh;
    }
}
@media (min-width: 601px) {
    .aside img{
        border-radius: 100%;
        width: 15vw;
        height: 30vh;
    }
}
@media (max-width: 600px) {
    .aside img{
        border-radius: 100%;
        width: 40vw;
        height: 18.5vh;
    }
}
@media (min-width: 601px) {
    .aside a{
        text-decoration: none;
        color: white;
        background-color: #788896;
        margin-left: 10px;
        padding: 10px 10px;
        width: 8vw;
        font-size: 35px;
        border-radius: 15px;
        text-align: center;
    }
}
@media (max-width: 600px) {
    .aside a{
        text-decoration: none;
        color: white;
        background-color: #788896;
        margin-left: 10px;
        padding: 10px 10px;
        width: 34vw;
        font-size: 35px;
        border-radius: 15px;
        text-align: center;
    }
}
@media (min-width: 601px) {
    .link{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5vh;
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .link{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 601px) {
    .main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 600px) {
    .main{
        grid-area: main;
        display: flex;
        flex-direction: column;
        padding: 6% 3%;
    }
}
@media (min-width: 601px) {
    .formulario{
        background-color: #E3E8ED;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        gap: 15px;
        
    }
    .formularioNomeCompleto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }
    .formularioNomeCompleto > *{
        width: 15vw;
        height: 5.5vh;
    }
    .formulario_Email{
        height: 5.5vh;
    }
    .formulario_Mensagem{
        height: 16.5vh;
    }
    .formulario button{
        height: 5.5vh;
        text-decoration: none;
        color: white;
        background-color: #788896;
        border-radius: 5px;
        font-size: 15px;
    }
}
@media (max-width: 600px) {
    .formulario{
        background-color: #E3E8ED;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        gap: 5px;
        
    }
    .formularioNomeCompleto{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .formularioNomeCompleto > *{
        height: 5.5vh;
    }
    .formulario_Email{
        height: 5.5vh;
    }
    .formulario_Mensagem{
        height: 16.5vh;
    }
    .formulario button{
        height: 5.5vh;
        text-decoration: none;
        color: white;
        background-color: #788896;
        border-radius: 5px;
        font-size: 15px;
    }
}
@media (min-width: 601px) {
    .asideFooter{
        grid-area: asideFooter;
        background-color: #D2E4E1;
    }
}
@media (max-width: 600px) {
    .asideFooter{
        display: none;
    }
}
.footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}